<div id="GoogleBundleSearch">
    <form id="GoogleBundleSearchForm" method="post" action="#" onSubmit="try {GoogleBundleSearch();} catch (error) {if ('undefined' !== typeof console) {console.log(error);}} return false;">
    {{ form_widget(form) }}
    <input type="submit" name="submit" value="{% trans %}google.bundle.search.button{% endtrans %}" />
    </form>
</div>
